.app-container {
  display: grid;
  height: 100% ;
}
textarea{
  outline: none;
  border: none;
}
.row{
  height: 100%;
}
.col-4{
  margin-top: 10%;
  margin-bottom: 10%;
}
.col-8{
  margin-top: 10%;
  margin-bottom: 10%;
}