.app-container {
  display: grid;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}
textarea{
  outline: none;
  border: none;
}
.row{
  height: 100%;
}
.col-4{
  height: 100vh;
}
.col-8{
  height: 100vh;
}